.nemo-window{
  background-color: rgba(0, 0, 0, 0.65);
  /* background-color: transparent; */
}

.toolbar, .primary-toolbar{
  background-color: rgba(0, 0, 0, 0.3);
}

.sidebar, .view{
  background-color: transparent;
  /* border-radius: 10px; */
}
