#waybar {
  background: unset;
  /* font-family: "Hack", monospace; */
  font-weight: 600;
  font-size: 12px;
  color: #cfa3e9;
  color: #b86fd4;
}

tooltip {
  background-color: rgba(30, 30, 46, 0.95);
  border-radius: 6px;
  border: 1px solid #89b4fa; /* blue accent */
  /* color: #cdd6f4; */
  padding: 4px 8px;
}

/* Semua modul default sama */
#network, #pulseaudio, #battery, #clock, #window, #memory, #backlight {
  padding: 3px 10px;
  border-radius: 3px;
  background: rgba(49, 50, 68, 0.8);
  /* color: #cdd6f4; */
  transition: all .2s ease-in-out;
}

/* Hover/active highlight */
#network:hover, #pulseaudio:hover, #battery:hover, #clock:hover, 
#backlight:hover, #memory:hover, #window:hover {
  background: #89b4fa;
  color: #1e1e2e;
}

/* Workspaces */
#workspaces {
  background: rgba(49, 50, 68, 0.8);
  border-radius: 15px 3px 15px 3px;
  padding: 0 4px;
}

#workspaces button {
  margin: 2px 3px;
  padding: 2px 6px;
  border-radius: 30px 2px 30px 2px;
  transition: all .2s ease;
  color: #cdd6f4;
}

#workspaces button.active {
  /* background: #89b4fa; */
  background: #c770fa;
  box-shadow: 0 0 5px 1px #a200ff;
  color: #1e1e2e;
}
