#waybar {
  background: unset;
  font-weight: 600;
  font-size: 10.5px;
  color: #ffd47e; /* kuning pastel */
}

@keyframes glow {
  0% {
    box-shadow: 0 0 1px #ff6a00;
    background: #ff9a3c;
  }
  50% {
    box-shadow: 0 0 6px 3px #ff6a00;
    background: #ff7700;
  }
  100% {
    box-shadow: 0 0 1px #ff6a00;
    background: #ff9a3c;
  }
}

/* Modules Container */
.modules-right, .modules-left, .modules-center{
	background: rgba(40, 25, 10, 0.85);
	margin: 5px 5px 0;
	border-radius: 20px;
	padding: 0 10px;
	animation: glow .3s;
	border: 2px solid #ff8800;
}

tooltip {
  background-color: rgba(30, 20, 10, 0.95);
  border-radius: 6px;
  border: 1px solid #ff8800;
  padding: 4px 8px;
}

#network, #pulseaudio, #battery, #clock, #backlight, #memory, #cpu, #temperature, #disk {
  padding: 3px;
  border-radius: 3px;
  transition: all .2s ease-in-out;
}

#clock{
	margin-left: 5px;
}

#network:hover, #pulseaudio:hover, #battery:hover, #clock:hover, 
#backlight:hover, #memory:hover, #window:hover, #cpu:hover, #temperature:hover, #disk:hover {
  color: white;
}

#workspaces button {
  margin: 2px 3px;
  padding: 0 6px;
  border-radius: 30px 2px 30px 2px;
  transition: all .2s ease;
  color: #ffe3b0;
  background: unset;
}

#workspaces button.active {
  background: #ff8800;
  color: #1a0d00;
}
