@define-color waybarBg ${waybarBg};
@define-color waybarFg ${waybarFg};

@define-color modulesBg ${modulesBg};

@define-color tooltipBg ${tooltipBg};

@define-color moduleHoverFg ${moduleHoverFg};

@define-color workspacesBtn ${workspacesBtn};
@define-color workspacesActiveBg ${workspacesActiveBg};
@define-color workspacesActiveFg ${workspacesActiveFg};
