window {
    margin: 0px;
    background-color: #1e1e2e;
    border-radius: 12px;
    border: 2px solid #89b4fa;
}

#input {
    margin: 5px;
    border: none;
    background: #11111b;
    color: #cdd6f4;
    padding: 5px;
}

#entry {
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background: #89b4fa;
    color: #1e1e2e;
}
