*{
	font-weight: 500;
}

.nemo-window{
  background-color: rgba(0, 0, 0, 0.65);
}

.toolbar, .primary-toolbar{
  background-color: rgba(0, 0, 0, 0.3);
}

.sidebar, .view{
  background-color: transparent;
}
