general {
    gaps_in = 3
    gaps_out = 5
    border_size = 2
    layout = dwindle
    col.active_border = rgba(8f00ffee) rgba(33ccffee) 45deg
    col.inactive_border = rgba(0,0,0,0) # none
}

decoration {
    blur {
       enabled = true
       size = 4
       passes = 3
    }

    # rounding = 10
    # shadow {
    #     enabled = true
    #     range = 6
    #     render_power = 1
    #     # color = rgba(2a2a3aee)
    #     color = rgba(0,255,255,0.4)
    #     # color = rgb(0,0,0)
    # }
}

dwindle {
    pseudotile = true # master switch for pseudotiling. Enabling is bound to mainMod + P in the keybinds section below
    preserve_split = true # you probably want this
}

master {
    new_status = master
}

gestures {
    workspace_swipe = on
}

animations {
    enabled = true
    bezier = myBezier, 0.05, 0.9, 0.1, 1.05

    animation = windows, 1, 7, myBezier
    animation = windowsOut, 1, 7, default, popin 50%
    animation = border, 1, 10, default
    animation = fade, 1, 7, default
    animation = workspaces, 1, 6, default
}
