*{
  background: unset;
}

// ============================= PROFILE ============================= //
.profile {
  background: rgb(15, 14, 17);
  border-radius: 10px;
  padding: 12px 16px;
  font-family: "Maple Mono NF SemiBold";
}

.profile-box {
  background: rgba(30, 30, 30, 0.7);
  border-radius: 10px;
  padding: 8px 10px;
}

.profile-name {
  color: #ffffff;
  font-size: 14px;
  font-style: italic;
}

// ----- POWER ----- //
.power-box {
  background: rgba(30, 30, 30, 0.7);
  border-radius: 12px;
}

.power-btn {
  font-size: 22px;
  color: #ddd;
  border: none;
  &:hover{
    color: #ad55ff;
  }
}

// ============================= MUSIC ============================= //
.music-player {
  background: rgba(17, 15, 15, 0.897);
  border-radius: 15px;
  padding: 8px 15px;
  color: #ddd;
  font-size: 10pt;
  font-family: "Hack";
}

.music-btn {
  color: #e26ae2;
  font-size: 10pt;
  margin: 1px 5px;
}

.music-btn:hover {
  color: #50fa7b;
}

.music-text {
  color: #f8f8f2;
  font-weight: 500;
}

